<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  
  <title>Pure Beurre </title> 
  {% load static %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


 <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
  

<link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"> 
  <style type="text/css">
    header.masthead {
      padding-top: 10rem;
      padding-bottom: calc(10rem - 72px);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url({{product}});
      background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                   url({{image}});
      
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
  </style>
  

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <img src="{% static 'img/logo_pur.png' %}" alt="logo_pur_beurre">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Pure Beurre</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#query">
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                
                {{ form}}
            </form>
          </a> 
              

          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link js-scroll-trigger" href="{% url 'ind_pge_connex' %}"><i class="fa fa-user fa-2x" aria-hidden="true" ></i></a>
            {% else %}
              <a class="nav-link js-scroll-trigger" href="{% url 'user_login' %}"><button>Créer un compte </button></a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'save' %}">
                 <img src="{% static 'img/Ca.JPG'  %}" height="25px" width="30px" alt="Mes aliments"></a> 
            </button>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold text-center">{{product}}</h1>
          <hr class="divider my-4">
        </div>
        
      </div>
    </div>
  </header>

  
 <!-- Contact Section -->
  <section class="page-section bg-primary">
    <div class="container">

      <div class="row h-100">
        <div class="col-lg-6 text-center">
          <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{nut}}.svg" alt="Note nutritionnelle NutriScore : {{nut}}" style="margin-bottom:1rem;max-width:100%">
          
          
        </div> 
        <div class="col-lg-6 ">
          <div class="small-12 xlarge-6 columns">
            <h4 >Repères nutritionnels pour 100g
            </h4>
            <img src="https://static.openfoodfacts.org/images/misc/{{lip}}.svg" width="30" height="30" style="vertical-align:middle;margin-right:15px;margin-bottom:4px;" alt="{{lip_1}}">
            {{lip_0}}g
            <b>Matières grasses / Lipides</b> 
            {{lip_1}}
            <br>
            <img src="https://static.openfoodfacts.org/images/misc/{{sat}}.svg" width="30" height="30" style="vertical-align:middle;margin-right:15px;margin-bottom:4px;" alt="{{sat_1}}">
            {{sat_0}}g
            <b>Acides gras saturés</b> 
            {{sat_1}}
            <br>
            <img src="https://static.openfoodfacts.org/images/misc/{{sugar}}.svg" width="30" height="30" style="vertical-align:middle;margin-right:15px;margin-bottom:4px;" alt="{{sugar_1}}">
            {{sugar_0}}g
            <b>Sucres</b> 
            {{sugar_1}}
            <br>
            <img src="https://static.openfoodfacts.org/images/misc/{{sodium}}.svg" width="30" height="30" style="vertical-align:middle;margin-right:15px;margin-bottom:4px;" alt="{{sodium_1}}">
            {{sodium_0}}g
            <b>Sel</b> 
            {{sodium_1}}
            <br>
          </div>
        </div> 
        <div class="col-lg-12 text-center">
         <a class="btn btn-success" href="{{sub_url}}" role="button">Voir la fiche produit d'Openfoodfacts</a>
        </div>

      </div> 
    </div>
  </section>

  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="small text-center text-muted"><a href="{% url 'legal' %}">Mentions legales</a></div>
        </div>
        <div class="col-lg-6">
          <div class="small text-center text-muted">
          <a  href="#contact">Contact</a>
          
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

  <!-- Plugin JavaScript -->
  
  
 

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>
