<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Pure Beurre </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative_1.css' %}"> 
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a href="{% url 'reception' %}"><img src="{% static 'img/logo_pur.png' %}" alt="logo_pur_beurre"></a>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Pure Beurre</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
          
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                
                {{ form.as_p}}
            </form>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link js-scroll-trigger" href="{% url 'ind_pge_connex' %}">
                <div>
                    <span class="text">compte</span>
                    <span class="icon"><i class="fa fa-user fa-2x" aria-hidden="true" ></i></span>
                </div>
                </a>
            {% else %}
              <a class="nav-link js-scroll-trigger" href="{% url 'user_login' %}"><button>Créer un compte </button></a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'save' %}">
                <div>
                    <span class="text">Mes aliments</span>
                    <span class="icon"> <img src="{% static 'img/Ca.JPG'  %}" height="25px" width="30px" alt="Mes aliments"></span>
                </div>       
            </a> 
              
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">
              <div>
                  <span class="text">Deconnexion</span>
                  <span class="icon"> <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></span>
              </div>  
              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10  col-xs-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ user.username }}</h1>
          <hr class="divider my-4">
        </div>
        
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section " style="background-color:#86ebe6 " id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h3 class="text-white">{{user.email}}</h3> 
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section -->
   <section class="page-section" id="contact">
     <div class="container">
       <div class="row justify-content-center">
         <div class="col-lg-8 text-center">
           <h2 class="mt-0">Contactez-nous !</h2>
           <hr class="divider my-4">
           <p class="text-muted mb-5">Ah, la recherche d'aliments saints ! Un défi intéressant !</p>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
           <i class="fa fa-phone" style="font-size:48px;color:red"></i>
           
           <div>+1 (202) 555-0149</div>
         </div>
         <div class="col-lg-4 mr-auto text-center mb-5 mb-lg-0 ">
           <i class="fa fa-envelope" style="font-size:48px;color:red"></i>
           <!-- Make sure to change the email address in anchor text AND the link below! -->
           <a class="d-block" href="mailto:contact@yourwebsite.com">contact@purebeurre.com</a>
         </div>
       </div>
     </div>
   </section>

   <!-- Footer -->
   <footer class="bg-light py-5">
     <div class="container">
       <div class="row">
         <div class="col-lg-6">
           <div class="small text-center text-muted"><a href="{% url 'legal' %}">Mentions legales</a></div>
         </div>
         <div class="col-lg-6">
           <div class="small text-center text-muted">
           <a  href="#contact">Contact</a>
           
           </div>
         </div>
       </div>
     </div>
   </footer>

  <!-- Bootstrap core JavaScript -->
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
  <script src="{% static 'js/creative.js' %}"></script>
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
  <script src="{% static 'js/auto.js' %}"></script>
  <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>
